.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.webcam__container {
  margin-top: 10px;
  width: 640px;
  height: 480px;
  border: 1px solid #000;
}

canvas {
  position: absolute;
}
.webcam__button {
  margin-top: 5px;
}